<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <title>Virustotal</title>

  :css
    @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
    .box1 {
      background: radial-gradient(at top right, #6dfc8d, #fff,  #fff);
      animation: gradient 15s ease infinite;
      height: 100vh;
      width: 100vw;
      opacity:0.6;
      position: absolute;
      top: 0;
      left: 0; 
      z-index: -1;
    }     

    .box2 {
      background: radial-gradient(at top left, #33ceff, #fff, #fff);
      animation: gradient 15s ease infinite;
      height: 100vh;
      width:100vw;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -3;
    }

    .container {
      margin: 0 auto;
      margin-top: 10vh;
      margin-bottom: 10vh;
    }

    .container h1 {
      font-size: 12vh;
      font-weight: 700 !important;
    }

    body {
      font-family: 'Space Grotesk', sans-serif;
      color: #2d2d2d;
      overflow-x: hidden;
    }

    .list-unstyled a {
      text-decoration: none !important;
    }

    .container p {
      font-weight: 300;
      font-size: 2.5vh;
      font-family: 'Lexend', sans-serif;
    }

    .url h2 {
      font-size: 6vh;
      font-weight: 700 !important;
    }

    @media only screen and (max-width: 768px) {
      .url h2 {
        font-size: 5vh;
      }
    }

    .url {
      background-color: #fff;
      padding: 16px;
      box-shadow: 0px 0px 16px 2px 	rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      margin-bottom: 16px;
      align-items: flex-start !important;
      flex-direction: column !important;
    }

    .email {
      color: #7b51dc;
      background-color: #e3dcf7;
      padding: 8px;
      border-radius: 8px;
      font-family: 'Lexend', sans-serif;
    }

    .btn-logout {
      margin-left: 16px;
    }

    .id {
      color: rgb(165, 165, 165);
      word-wrap: break-word;
    }

    .digest {
      color: rgb(165, 165, 165);
      display: inline-block !important;
      word-break: break-word !important;

    }

    .container a {
      text-decoration: none !important;
    }

    .btn {
      margin-left: 16px;
      box-shadow: 0px 0px 16px 2px 	rgba(0, 0, 0, 0.1);
    }

    .btn:focus,.btn:active {
      outline: none !important;
      box-shadow: none;
    }

    .btn-danger {
      margin-left: 0 !important;
    }

    .form-control {
      border-radius: 0.25rem !important;
      border: 0px !important;
      box-shadow: 0px 0px 16px 2px 	rgba(0, 0, 0, 0.1);
    }
  </head>
  <body>
    <div class="box1"></div>
    <div class="box2"></div>
    <!-- navbar with logo and few links -->
    <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-braces" viewBox="0 0 16 16">
          <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6zM13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6z"/>
        </svg>
        VirusTotal
      </a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbar-info-responsive">
      </div>
    </nav>

    <!-- main content -->
    <div class="container" id="files"></div>

    :javascript
      if (localStorage.getItem("mykey") === null) {
        var navbar = ``
        navbar += `<ul class="navbar-nav ml-auto d-flex flex-row justify-content-between align-items-center">`
        navbar += `<li class="nav-item"><a class="nav-link" href="/files">Files</a></li><li class="nav-item"><a class="nav-link" href="/urls">URLs</a></li><li class="nav-item"><a class="nav-link" href="/login">Sign in</a></li><li class="nav-item"><a class="nav-link" href="/register">Sign up</a></li>`
        navbar += `</ul>`
        document.getElementById("navbar-info-responsive").innerHTML = navbar;

      } else {
        var navbar = ``
        navbar += `<ul class="navbar-nav ml-auto d-flex flex-row justify-content-between align-items-center">`
        navbar += `<li class="nav-item"><a class="nav-link" href="/files">Files</a></li><li class="nav-item"><a class="nav-link" href="/urls">URLs</a></li><li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li><li class="nav-item"><button class="btn btn-danger btn-logout" type="button" id="button-addon2" onclick="logout()">Logout</button></li>`
        navbar += `</ul>`
        document.getElementById("navbar-info-responsive").innerHTML = navbar;
      }

      if (localStorage.getItem("myEmail") === null || localStorage.getItem("mykey") === null) {
        var files = ``;
        files += `<h1>You are not logged in</h1>`;
        files += `<p>Please <a href="/login">sign in</a> or <a href="/register">sign up</a> to add files</p>`;
        document.getElementById("files").innerHTML = files;
      } else {
        var email = localStorage.getItem("myEmail");
        emailName = email.split("@");
        urlAddress = "http://127.0.0.1:8080/api/v1/user_files?userEmail=" + emailName[0] + "%40" + emailName[1];
        fetch(urlAddress)
        .then(res => res.json())
        .then(out => {
          if (out.length > 0) {
            var urls = ``;
            urls += `<h1>Your Files</h1>`;
            urls += `<p>Logged in as <span class="email">${email}</span></p>`;
            urls += `<p>Add new files <a href="/">here</a></p>`;
            for (let i = 0; i < out.length; i++) {
              urls+=`<div class="url d-flex"><h2>${out[i]["fileName"]}</h2><p>File size <strong>${out[i]["binData"].length}B</strong></p><p class="id">id: ${out[i]["_id"]}</p><p class="digest">Hash: ${out[i]["digest"]}</p><button type="button" class="btn btn-danger" value=${out[i]["digest"]} id="button-addon2" onclick="deleteFile(this.value)">Delete</button></div>`
            }
            document.getElementById("files").innerHTML = urls;
          } else {
            var urls = ``;
            urls += `<h1>You have no Files</h1>`;
            urls += `<p>Logged in as <span class="email">${email}</span></p>`;
            urls += `<p>Add new files <a href="/">here</a></p>`;
            document.getElementById("files").innerHTML = urls;
          }
        })
        .catch(err => { throw err });
      }

      function deleteFile(digest) {
        var address = "http://127.0.0.1:8080/api/v1/delete_file"
        var data = {
          "userEmail": localStorage.getItem("myEmail"),
          "fileSHA512Digest": digest
        }

        fetch(address, {
          method: 'POST',
          body: JSON.stringify(data),
          headers: {
            'Content-Type': 'application/json',
            'AccessToken' : localStorage.getItem("mykey")
          }
        })
        .then(res => res.json())
        .then(out => {
          Swal.fire({
            icon: 'success',
            title: 'Success',
            text: "File deleted",
          }).then(function() {
            window.location.reload();
          });
        })
        .catch(err => { throw err });
      }

      function logout() {
        Swal.fire({
          icon: 'info',
          title: 'Info',
          text: "You are about to log out",
        }).then(function() {
          localStorage.removeItem("mykey");
          localStorage.removeItem("myEmail");
          window.location.href = "/";
        });
      }

      function fireSweetAlertError2(error) {
        Swal.fire({
            icon: 'info',
            title: 'Info',
            text: error,
        })
      }

      function fireSweetAlertError(error) {
        Swal.fire({
            icon: 'info',
            title: 'Info',
            text: error,
        }).then(function() {
          window.location.reload();
        })
      }

      function fireSweetAlert() {
        Swal.fire(
            'Good job!',
            'You have added a new URL',
            'success'
        )
      }

  </body>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>