<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <title>Virustotal</title>

    :css
      @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
      .box1 {
        background: radial-gradient(at top right, #6dfc8d, #fff,  #fff);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        animation: gradient 15s ease infinite;
        height: 100vh;
        width: 100vw;
        opacity:0.6;
        position: absolute;
        top: 0;
        left: 0; 
        z-index: -1;
      }     

      .box2 {
        background: radial-gradient(at top left, #33ceff, #fff, #fff);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        animation: gradient 15s ease infinite;
        height: 100vh;
        width:100vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
      }

      .container {
        margin: 0 auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
      }

      .container h1 {
        font-size: 12vh;
        font-weight: 700 !important;
      }

      body {
        font-family: 'Space Grotesk', sans-serif;
        color: #2d2d2d;
        overflow-x: hidden;
      }

      .list-unstyled a {
        text-decoration: none !important;
      }

      .container p {
        font-weight: 300;
        font-size: 2.5vh;
        font-family: 'Lexend', sans-serif;
      }

      .url h2 {
        font-size: 6vh;
        font-weight: 700 !important;
      }

      @media only screen and (max-width: 768px) {
        .url h2 {
          font-size: 5vh;
        }
      }

      .url {
        background-color: #fff;
        padding: 16px;
        box-shadow: 0px 0px 16px 2px 	rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin-bottom: 16px;
      }

      .email {
        color: #7b51dc;
        background-color: #e3dcf7;
        padding: 8px;
        border-radius: 8px;
        font-family: 'Lexend', sans-serif;
      }

      .id {
        color: rgb(165, 165, 165);
      }

      .container a {
        text-decoration: none !important;
      }

      .btn {
        margin-left: 16px;
        box-shadow: 0px 0px 16px 2px 	rgba(0, 0, 0, 0.1);
      }

      .btn:focus,.btn:active {
        outline: none !important;
        box-shadow: none;
      }

      .btn-danger {
        margin-left: 0 !important;
      }

      .form-control {
        border-radius: 0.25rem !important;
        border: 0px !important;
        box-shadow: 0px 0px 16px 2px 	rgba(0, 0, 0, 0.1);
      }

      .email {
        color: #7b51dc;
        background-color: #e3dcf7;
        padding: 8px;
        border-radius: 8px;
        font-family: 'Lexend', sans-serif;
      }

      .card {
        border: 0 !important;
      }

      .card-body {
        border-radius: 4px !important;
        box-shadow: 0px 0px 16px 2px rgb(0 0 0 / 10%) !important;
      }
  </head>
  <body>
    <div class="box1"></div>
    <div class="box2"></div>
    <!-- navbar with logo and few links -->
    <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-braces" viewBox="0 0 16 16">
          <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6zM13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6z"/>
        </svg>
        VirusTotal
      </a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbar-info-responsive">
      </div>
    </nav>

    <!-- main content -->
    <div class="container" id="profile"></div>


    :javascript
      if (localStorage.getItem("mykey") === null) {
        var navbar = ``
        navbar += `<ul class="navbar-nav ml-auto d-flex flex-row justify-content-between align-items-center">`
        navbar += `<li class="nav-item"><a class="nav-link" href="/files">Files</a></li><li class="nav-item"><a class="nav-link" href="/urls">URLs</a></li><li class="nav-item"><a class="nav-link" href="/login">Sign in</a></li><li class="nav-item"><a class="nav-link" href="/register">Sign up</a></li>`
        navbar += `</ul>`
        document.getElementById("navbar-info-responsive").innerHTML = navbar;

        var profile = ``
        profile += `<h1>You are not signed in</h1>`
        profile += `<p>Please <a href="/login">sign in</a> or <a href="/register">sign up</a> to see your profile information</p>`;

        document.getElementById("profile").innerHTML = profile;

      } else {
        var navbar = ``
        navbar += `<ul class="navbar-nav ml-auto d-flex flex-row justify-content-between align-items-center">`
            navbar += `<li class="nav-item"><a class="nav-link" href="/files">Files</a></li><li class="nav-item"><a class="nav-link" href="/urls">URLs</a></li><li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li><li class="nav-item"><button class="btn btn-danger" type="button" id="button-addon2" onclick="logout()">Logout</button></li>`
        navbar += `</ul>`
        document.getElementById("navbar-info-responsive").innerHTML = navbar;

        const getFiles = "http://127.0.0.1:8080/api/v1/user_files"
        var email = localStorage.getItem("myEmail");
        emailName = email.split("@");
        getUrlAddress = "http://127.0.0.1:8080/api/v1/user_urls?userEmail=" + emailName[0] + "%40" + emailName[1];
        getFilesAddress = "http://127.0.0.1:8080/api/v1/user_files?userEmail=" + emailName[0] + "%40" + emailName[1];
        var profile = ``
        profile += `<h1>Your Profile</h1>`
        profile += `<p>Here you can see your profile information</p>`;
        fetch(getUrlAddress)
        .then(res => res.json())
        .then(out => {
          profile += `<div class="row">`
          profile += `<div class="col-md-6">`
          profile += `<div class="card">`
          profile += `<div class="card-body">`
          profile += `<h2 class="card-title">Contributions</h2>`
          profile += `<p class="card-title">You have marked <strong>${out.length} URLs</strong> in our database</p>`
          fetch(getFilesAddress)
          .then(res => res.json())
          .then(out => {
            profile += `<p class="card-title">And contributed with <strong>${out.length} file(s)</strong></p>`
            profile += `<br>`
            profile += `<h2 class="card-title">API Key</h2>`
            profile += `<p class="card-text">Your API key is: <code>` + localStorage.getItem("mykey") + `</code></p>`
            profile += `<br>`
            profile += `<h2 class="card-title">Email and account</h2>`
            profile += `<p class="card-text">Your email is: <span class="email">` + localStorage.getItem("myEmail") + `</span></p>`
            profile += `<button class="btn btn-danger btn-logout" type="button" id="button-addon2" onclick="deleteAccount()">Delete account</button>`
            profile += `</div>`
            profile += `</div>`
            profile += `</div>`
            profile += `</div>`
            document.getElementById("profile").innerHTML = profile;
          })
          .catch(err => { throw err });
        })
        .catch(err => { throw err });
      }

      function logout() {
        Swal.fire({
          icon: 'info',
          title: 'Info',
          text: "You are about to log out",
        }).then(function() {
          localStorage.removeItem("mykey");
          localStorage.removeItem("myEmail");
          window.location.href = "/";
        });
      }

      function deleteAccount() {
        Swal.fire({
          title: 'Are you sure?',
          text: "You are about to delete your account",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            var url = "http://127.0.0.1:8080/api/v1/delete_user"
            localStorage.removeItem("mykey");
            localStorage.removeItem("myEmail");
            fetch(url, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'AccessToken': localStorage.getItem("mykey")
              },
              body: JSON.stringify({
                "userEmail": localStorage.getItem("myEmail")
              })
            })
            .then(res => res.json())
            .then(out => {
              Swal.fire({
                title: 'Account deleted',
                text: 'Your account has been removed',
                icon: 'success'
              }).then(function() {
                window.location.replace("/");
              })
            })
            .catch(err => { throw err });
          }
        })
      }

      function fireSweetAlertError2(error) {
        Swal.fire({
            icon: 'info',
            title: 'Info',
            text: error,
        })
      }

      function fireSweetAlertError(error) {
        Swal.fire({
            icon: 'info',
            title: 'Info',
            text: error,
        }).then(function() {
          window.location.reload();
        })
      }

      function fireSweetAlert() {
        Swal.fire(
            'Good job!',
            'You have added a new URL',
            'success'
        )
      }

  </body>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>